.title {
  color: white;
}

footer {
  margin-top: 2rem;
  background-color: #f1eeef;
  padding-bottom: 17px;
  padding-top: 20px;

  .rights {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    gap: 1.8rem;
    padding: 13px;
  }

  .image {
    height: 32px;
    width: 32px;
  }
}
